html {
    text-align: center;
    font-family: sans-serif;
}

input {
    margin-bottom: 1em;
    padding: 0.5em 0.5em;
}

.result {
    padding: 0.5em 0.5em 0.25em 0.5em;
    border-style: solid;
    border-color: pink;
    color: darkred;
}

h1 {
    color: teal;
}

h2 {
    color: teal;
}

p {
    margin-bottom: 1.5em;
}

